.hero {
    margin-bottom: 160px;
    .hero__wrapper {
        background-image: url(./../../image/herobgimgj.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 1400px;
        min-height: 600px;
        height: 100%;
        margin: 0 auto;

    }
    .hero__container {
        display: flex;
        align-items: center;
        min-height: 600px;
        height: 100%;

    }
    .container {
    }
    .hero__inner {
        
    }
    .hero__box {
        max-width: 500px;
    }
    .hero__hiddin {
        margin-bottom: 40px;
        font-family: 'Space Mono';
        font-style: normal;
        font-weight: 700;
        font-size: 56px;
        line-height: 56px;
        letter-spacing: -2.5px;
        color: #FFFFFF;
    }
    .hero__fox {
        padding-left: 94px;
        max-width: 500px;
        position: relative;
    }

    .hero__fox::before{
        display: block;
        content: " ";
        background-image: url(./../../image/strelka1.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 200px;
        height: 14px;
        position: absolute;
        top: 25%;
        left: -30%;
    }

    .hero__fox::after{
        display: block;
        content: " ";
        background-image: url(./../../image/strelka2.svg);
        background-repeat: no-repeat;
        background-size: contain;
        max-width: 400px;
        width: 100%;
        height: 150px;
        position: absolute;
        top: 19%;
        left: 110%;

    }

    .hero__text {
        font-family: 'Lexend Deca';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        /* or 167% */


        color: #FFFFFF;
    }

.hero__button{
    margin-top: 40px;
}
    .button {
    }
}