.hero {
    .hero__wrapper {

    }

    .hero__inner {
        max-width: 1440px;
        width: 100%;
        height: 600px;
        background-image: url(./../../image/bgimg_hero.png);
        background-repeat: no-repeat;
        background-size: contain;
        margin: 0 auto;

    }

    .hero__container {
    }
}