.new {
    .new__wrapper {
    }
    .new__cantainer {
    }
    .container {
    }
    .new__inner {
    }
    .new__list {
    }
    .new__item {
    }
    .new__lift {
        position: relative;
    }

    .new__lift{
        background-image: url(./../images/strelka__nthchald.svg);
        position: absolute;
        top: 5px;
        left: 2px;        
    }
    .new__img {
    }
    .new__righit {
    }
    .new__hiddin {
    }
    .new__text {
    }
    .button {
    }
    .new__button {
    }
}